<template>
  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: sketchtool 55.2 (78181) - https://sketchapp.com -->
      <title>8C02861A-5A37-442F-A45F-EA29AF3D1BB3</title>
      <desc>Created with sketchtool.</desc>
      <g id="Final" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="9.-icons" transform="translate(-252.000000, -251.000000)" fill="#D0021B" fill-rule="nonzero">
              <g id="Group-17" transform="translate(252.000000, 251.000000)">
                  <g id="ion-ios-arrow-round-back" transform="translate(3.000000, 6.000000)">
                      <g id="Icon">
                          <path d="M6.525,0.23125 C6.84375,0.54375 6.84375,1.0625 6.53125,1.38125 L2.7375,5.1875 L17.19375,5.1875 C17.6375,5.1875 18,5.55 18,6 C18,6.45 17.6375,6.8125 17.19375,6.8125 L2.7375,6.8125 L6.5375,10.61875 C6.85,10.9375 6.84375,11.45 6.53125,11.76875 C6.2125,12.08125 5.70625,12.08125 5.3875,11.7625 L0.2375,6.575 C0.16875,6.5 0.1125,6.41875 0.06875,6.31875 C0.025,6.21875 0.00625,6.1125 0.00625,6.00625 C0.00625,5.79375 0.0875,5.59375 0.2375,5.4375 L5.3875,0.25 C5.69375,-0.075 6.20625,-0.08125 6.525,0.23125 L6.525,0.23125 Z" id="Icon-Path"></path>
                      </g>
                  </g>
              </g>
          </g>
      </g>
  </svg>
</template>
<script>
export default {
  data () {
    return {
    }
  }
}
</script>
