<template>
  <div>
      <!-- Page Loader -->
      <div v-if="!isLoaded.value" class="full-page-size">
        <aside class="ls-loader-circle">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </aside>
      </div>
      <div class="position-relative white-bg normal-text-color" v-if="isLoaded.value" id="nav-scroller"
           ref="content">
        <header class="w-100 px-3 pt-3 pb-2 text-left font-smoothing boq-header brand-primary">
            <h3 class="pt-4 pb-3 fs-24 ls-1 d-md-block font-weight-normal d-inline">{{data.boqDetails.identifier}}</h3>
            <a v-on:click="goBack()" class="float-left brand-primary btn p-0 mr-3">
                &#8592;
                <span class="pl-lg-1 ls-0 d-md-inline d-none">Back to List</span>
            </a>
        </header>
        <nav id="navbar-scroll" class="sticky-top mt-1">
          <div style="height:59px;" class="position-relative">
              <b-nav class="w-100 nav nav-pills border-bottom border-dark white-bg pt-2 mb-1 pl-3 pb-0 navbar-light" pills slot="header" v-b-scrollspy:nav-scroller="20" style="position:absolute; transition: all 200ms ease;">
                  <!-- <ul class="nav nav-pills border-bottom border-dark font-weight-normal font-smoothing fs-15 ls-0"> -->
                      <!-- <li class="nav-item pl-3 text-left"> -->
                          <a class="nav-link web-font-bold text-333 pl-0 pr-2 mr-4 pb-2 rounded-0" href="#project-summary">Project Summary</a>
                      <!-- </li> -->
                      <!-- <li class="nav-item text-left"> -->
                          <a class="nav-link web-font-bold text-333 px-2 mr-4 pb-2 rounded-0" href="#payment-structure">Payment Structure</a>
                      <!-- </li> -->
                      <!-- <li v-for="room in data.rooms.roomNames" class="nav-item text-left"> -->
                        <a v-for="room in data.rooms.roomNames" class="nav-link web-font-bold text-333 px-2 mr-4 pb-2 rounded-0 text-capitalize" :href="'#'+room">{{room}}</a>
                      <!-- </li> -->
                      <!-- <li class="nav-item text-left pr-3"> -->
                          <a class="nav-link web-font-bold text-333 px-2 mr-4 pb-2 rounded-0" href="#terms-conditions">Terms and Conditions</a>
                      <!-- </li> -->
                  <!-- </ul> -->
              </b-nav>
            </div>
        </nav>
        <section >

          <!-- Project Details Block -->
          <div class="light-bg">
              <main class="white-bg">
                  <section class="personal-details">
                      <h3 class="my-3 pl-3 pl-sm-4 ls-0 fs-18 web-fs-22 font-weight-bold">Welcome {{data.projectDetails.customer_display_name}}</h3>
                      <div class="row no-gutters">
                          <div class="col-12 col-md-4 pl-3 pb-3 pb-md-4">
                              <table class="table table-borderless text-333 fs-16 mb-0 less-padding">
                                  <tbody>
                                      <tr>
                                          <td>Total:</td>
                                          <th scope="col" class="fs-18 web-fs-22 font-weight-bold brand-primary">{{data.boqDetails.total_price | formatCurrency}}</th>
                                      </tr>
                                      <tr>
                                          <td>BOQ ID:</td>
                                          <td scope="col" class="web-font-bold">{{data.boqDetails.id}}</td>
                                      </tr>
                                      <tr>
                                          <td>BOQ Expiry:</td>
                                          <td scope="col" class="web-font-bold">{{data.boqDetails.pay_by_date}}</td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                          <div class="w-100 d-block d-md-none light-bg" style="height: 16px;"></div>
                          <div v-if="data.primaryDesigner" class="col-12 offset-md-4 col-md-4 pb-md-4 my-3 my-md-0 pl-3 pl-md-0 pr-md-4">
                              <h6 class="text-uppercase text-999 ls-0 fs-13">Designer details</h6>
                              <div class="media pt-2 designer-details">
                                  <img class="rounded-circle" :src="data.primaryDesigner.image_url" alt="Designer">
                                  <div class="media-body pl-4">
                                      <h5 class="mb-2 ls-0-5">{{data.primaryDesigner.display_name}}</h5>
                                      <span><a :href="'mailto:'+data.primaryDesigner.uid" class="text-666 hover-no-udl fs-15">{{data.primaryDesigner.uid}}</a></span>
                                      <p class="pt-2 mb-0 mr-3">
                                        <span>
                                          <a :href="'tel:+'+data.primaryDesigner.phone" class="text-666 hover-no-udl fs-15">{{data.primaryDesigner.phone}}</a>
                                        </span>
                                        <span class="float-right d-block d-sm-none">
                                          <a :href="'tel:+'+data.primaryDesigner.phone">
                                            <span style="background-color: rgba(242,242,242,1);" class="rounded-circle p-2 fs-16">
                                              <font-awesome-icon icon="phone" :transform="{ rotate: 90 }" :style="{ color: 'rgba(247,72,97,1)' }" />
                                            </span>
                                          </a>
                                        </span>
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </section>
              </main>

              <!-- Static livspace images block -->
              <ls-static></ls-static>
            </div>

          <!-- Nav Bar Blocks -->
          <section class="container-fluid xs-padding-mobile light-bg pt-0 pb-4">

            <!-- Project Summary Block -->
            <article class="mb-2 pt-2" id="project-summary">
              <div class="row no-gutters sectional-heading">
                <div class="col">
                  <h3 class="mt-4 pb-2 text-uppercase pl-3">{{data.projectSummaryData.block_heading}}</h3>
                </div>
              </div>
              <div class="white-bg w-100 p-0">
                <ls-card :data="data.projectSummaryData"></ls-card>
                <!-- <l-table :data="data.projectSummaryData"></l-table> -->
                <div class="row border-bottom border-top no-gutters py-3" >
                  <div class="col text-right">
                    <p class="my-1">Sub Total : <strong>&#8377;{{data.projectSummaryData.sub_total}}</strong></p>
                    <p class="my-1">Handling Fee : <strong>&#8377;{{data.projectSummaryData.handling_fee}}</strong></p>
                  </div>
                  <div class="col-1"></div>
                </div>
                <div class="row no-gutters py-4" >
                  <div class="col text-right">
                    <span>Net Total : <strong>&#8377;{{data.projectSummaryData.total}}</strong></span>
                  </div>
                  <div class="col-1"></div>
                </div>
              </div>
              <!-- <div class="row no-gutters sectional-heading">
                <div class="">
                  <h3 class="mt-4 pb-2 text-right pr-1">Sub Total: </h3>
                </div>
                <div class=" heading-price">
                  <h3 class="mt-4 pb-2 text-right pr-1">{{data.projectSummaryData.sub_total}}</h3>
                </div>
              </div>
              <div class="row no-gutters sectional-heading">
                <div class="">
                  <h3 class="mt-4 pb-2 text-right pr-1">Handeling Fee: </h3>
                </div>
                <div class=" heading-price">
                  <h3 class="mt-4 pb-2 text-right pr-1">{{data.projectSummaryData.handling_fee}}</h3>
                </div>
              </div>
              <div class="row no-gutters sectional-heading">
                <div class="">
                  <h3 class="mt-4 pb-2 text-right pr-1">Total Payable: </h3>
                </div>
                <div class=" heading-price">
                  <h3 class="mt-4 pb-2 text-right pr-1">{{data.projectSummaryData.total}}</h3>
                </div>
              </div> -->
            </article>

            <!-- PAYMENT STRUCTURE Block -->
            <article class="mb-2 pt-4" id="payment-structure">
              <div class="row no-gutters sectional-heading">
                <div class="col">
                  <h3 class="mt-0 mb-0 text-uppercase pl-3 pb-3">{{data.paymentSummary.block_heading}}</h3>
                </div>
              </div>
              <div class="white-bg w-100 p-0">
                <!-- <l-table :data="data.paymentSummary"></l-table> -->
                <ls-card :data="data.paymentSummary"></ls-card>
                <div class="row no-gutters py-4 px-4 border-top" >
                  <div class="col">
                    <span><strong>Total Quote Value</strong></span>
                  </div>
                  <div class="col text-right">
                    <span><strong>&#8377;{{data.projectSummaryData.total}}</strong></span>
                  </div>
                </div>
              </div>
            </article>

            <!-- Looping through rooms -->
            <article class="mb-2 pt-4" v-for="(block, key) in data.rooms.roomItems" :id="block.unique_name">
              <div class="row no-gutters sectional-heading">
                <div class="col">
                  <h3 class="mt-0 mb-0 text-uppercase pl-3 pb-3">{{block.display_name}}</h3>
                </div>
                <div class="col heading-price">
                  <h3 class="mt-0 mb-0 text-uppercase text-right pr-3 pb-3">{{numberWithCommas(block.total_price)}}</h3>
                </div>
              </div>
                <section class="w-100 mt-0 w-100 pb-0">
                  <article v-for="(category, key) in block.itemGroups" class="pb-2">
                    <!-- <l-table :data="category"></l-table> -->
                    <ls-card v-if="category.items.length>0" :data="category" :dataClient="dataClient"></ls-card>

                  </article>
                </section>
            </article>

          </section>

          <!-- Terms and conditions Static block -->
          <terms-conds id="terms-conditions" :data="data.termsCond" class="mt-4"></terms-conds>

      </section>

      </div>
  </div>
</template>

<script>
import lstable from './Table.vue'
import TermsAndConditions from './TermsAndCond.vue'
import BOQFormatter from '../services/formatter/boq.js'
import ItemDetailModal from './ItemDetailModal.vue'
import LivspaceStatic from './LivspaceStatic.vue'
import Card from './Card.vue'



export default {
  name: 'CustomerBOQ',
  components: {
    'l-table': lstable,
    'terms-conds': TermsAndConditions,
    'item-modal': ItemDetailModal,
    'ls-static': LivspaceStatic,
    'ls-card': Card
  },
  props: {
    dataClient:{
      type:Object,
      required: true
    }
  },
  data () {
    return {
      isLoaded:{
        value: false
      }
    }
  },
  beforeMount: function(){
    // console.log("created hook"+this.doamin+this.project_id+this.boq_id);
    var formatter = new BOQFormatter(this.dataClient);
    formatter.setFormattedData(this.$route.params.boqId, this.isLoaded);
    var data = formatter.getData();
    console.log(data.paymentSummary);
    this.data = data;
  },
  methods:{
    goBack () {
      this.$router.push('/boqs')
    },
    numberWithCommas(x){
      return x.toLocaleString('hi')
    },
    onActivate(target){
      let bodyWidth = document.body.clientWidth;
      let parentWidth = document.querySelectorAll('[href="'+target+'"]')[0].parentNode.offsetWidth;

      if(parentWidth > bodyWidth)
      {
        let left = document.querySelectorAll('[href="'+ target +'"]')[0].offsetLeft - 16;

        document.querySelectorAll('[href="'+target+'"]')[0].parentNode.style.left='-' + left  + 'px';
      }


      //var element = document.getElementById(target);
      //console.log(element);
    }
  },
  created(){
    this.$root.$on('bv::scrollspy::activate', this.onActivate)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>
