<template>
  <div>
    <div v-if="!isLoaded.value" class="w-100 full-page-size">
      <aside class="ls-loader-circle">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
      </aside>
    </div>
    <b-tabs v-if="isLoaded.value">
      <b-tab active title="Summary" @click="scroll">
        <div class="tab-body-wrap">
          <h4>Hi {{formatter.boqDetails.project.customer_display_name.trim()}},</h4>
          <p style="color: #676767;margin-bottom: 30px;}">Here is the quote that you requested. Please review and reach out to {{formatter.boqDetails.primary_designer.display_name}}, your Livspace designer, for any questions.</p>
          <p class="tab-body-title"> Summary</p>
          <quote-summary :formatter="formatter"></quote-summary>
          <ls-video style="margin-bottom : 40px;" v-if="videoLoader.value" :formatter="formatter"></ls-video>
          <p class="tab-body-title">Cost breakup</p>
          <cost-breakout :formatter="formatter" @openRoom="openRoom"></cost-breakout>
          <div class="l-row">
            <div class="l-col">
              <p class="tab-body-title">Your Designer</p>
              <designer :formatter="formatter"></designer>
            </div>
            <div class="l-col">
              <p class="tab-body-title">Payment Schedule</p>
              <payment :formatter="formatter"></payment>
            </div>
          </div>
        </div>
      </b-tab>
      <b-tab title="Rooms"  @click="scroll">
        <div class="tab-body-wrap">
          <rooms @openRoom="openRoom" :formatter="formatter"></rooms>
        </div>
      </b-tab>
      <b-tab title="FAQ/Help" @click="scroll">
        <div class="tab-body-wrap">
          <h2 class="tab-body-title mx-3" style="font-size :2rem !important;">Payment Schedule</h2>
          <payment :formatter="formatter" :subs="true" style="margin:15px"></payment>
          <terms-conds :formatter="formatter"></terms-conds>
        </div>
      </b-tab>
    </b-tabs>
    <Drawer
      @closeDrawer="closeDrawer"
      :open="isDrawerOpen"
      :roomId="selectedRoomId"
      :formatter="formatter"
    />
  </div>
</template>

<script>

import BOQFormatter from '../services/formatter/boqV2.js'
import SummaryCard from './SummaryCard'
import DesignerCard from './DesignerCard'
import CostBreakOut from './CostBreakout'
import PaymentSummary from './paymentSummaryV2'
import Rooms from './RoomsV2'
import LivHomeVideo from './LivhomeVideo'
import TermsAndConditions from './TermsAndCond.vue'
import Drawer from './Drawer.vue'
export default {
  name: 'CustomerBOQV2',
  components: {
    'quote-summary': SummaryCard,
    'designer': DesignerCard,
    'cost-breakout': CostBreakOut,
    'rooms': Rooms,
    'payment': PaymentSummary,
    'ls-video': LivHomeVideo,
    'terms-conds': TermsAndConditions,
    'Drawer': Drawer
  },
  methods: {
    scroll : function(){
      console.log("#########");
      window.scrollTo(0,0);
    },
    openRoom : function(roomId){
      console.log("#########");
      this.selectedRoomId = roomId;
      this.isDrawerOpen= true;
    },
    closeDrawer(){
      this.isDrawerOpen = false;
    }
  },
  props:{
    dataClient:{
      type: Object,
      required: true,
    },
    boqId:{
      type: Number,
      required: true,
    },
    back:{
      type: String,
      required: false,
      default: '/boqs'
    }
  },
  data () {
    return {
      isLoaded: {
        value: false
      },
      videoLoader:{
        value: false
      },
      data: {},
      formatter: null,
      selectedRoomId: 0,
      isDrawerOpen: false
    }
  },
  provide: function() {
    return {
      formatter : this.formatter
    }
  },
  created: function () {
    // console.log("created hook"+this.doamin+this.project_id+this.boq_id);
    this.formatter = new BOQFormatter(this.dataClient, this.boqId)


    this.formatter.setBOQDetails(this.boqId, this.isLoaded, this.videoLoader)

    // this.rootData = data
  },
}
</script>

<style>
.payment-info{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 2px 1px -1px; /*0px 0px 15px #cfcfcf;*/
    padding: 5px;
}
.tab-content{
  height:calc(100vh - 58px);
  overflow-y:scroll;
}
.payment-info .paymetn-item{
    display: flex;
    justify-content: space-between;
    padding: 35px 20px;
    border-bottom: 1px solid #eaeaea;
}
.payment-info .paymetn-item p{

}
.payment-info .paymetn-item:last-child{
    border-bottom: 0px;
}
.payment-info .paymetn-item p{
    margin: 0px;
    font-size: 16px;
}
.payment-info .paymetn-item p:last-child{
  min-width : 100px;
  text-align : right;
}
.tab-body-wrap{
  background-color : #f2f4f5;
  padding : 30px 11%;
}
.tab-body-title{
  color: #000;
  font-weight: 500;
  font-size: 20px;
}
.nav.nav-tabs{
  position:relative;
  display: flex;
  justify-content: center;
  outline : none;
}
@media( max-width : 500px ){
  .tab-body-wrap{
    padding : 15px !important;
  }
}
.nav-tabs .nav-link.active{
  color : #f74861;
  border-bottom : 3px solid;
  border-color : transparent transparent #f74861 transparent;
}
.nav-tabs .nav-link{
  margin: 20px 30px 0px 30px;
  padding: 0px 0px 20px 0px;
  color : #707171;
  font-weight : bold;
}
.nav-tabs .nav-link:not(.active):hover{
  border-color : transparent;
}
.nav-tabs .nav-item{
  margin-left: 5%;
  margin-right: 5%;
}
.ls-loader-circle {
  display: inline-block;
  position: relative;
  width: inherit;
  height: inherit;
}

.ls-loader-circle div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 38px);
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  margin: 6px;
  border: 6px solid #F74861;
  border-radius: 50%;
  animation: ls-loader-circle 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #F74861 transparent transparent transparent;
}
.ls-loader-circle div:nth-child(1) {
  animation-delay: -0.45s;
}
.ls-loader-circle div:nth-child(2) {
  animation-delay: -0.3s;
}
.ls-loader-circle div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes ls-loader-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width : 800px){
  .l-row{
    display : block !important;
  }
  .l-col{
    width : 100% !important;
    margin : 0px 0px 50px 0px !important;
  }
}
.l-row{
  display : flex;
  justify-content : space-between;
  margin-top : 50px;
  margin-bottom  : 50px;
}
.l-col{
  width : 50%;
}
.l-col:first-child{
  margin-right : 15px;
}
.l-col:last-child{
  margin-left : 15px;
}
@media (min-width : 500px){
  .tab-body-wrap{
      margin-top : 70px;
    }
    .nav.nav-tabs{
      position: fixed;
      left: 0;
      right: 0;
      background: #fff;
      top: 0;
      z-index: 11111;
      box-shadow: 0px 1px 12px #cfcfcf;
    }
    .cost-breakout .nav.nav-tabs{
      position : relative !important;
      box-shadow : none !important;
    }
}
@media( max-width : 500px){
    .tab-body-wrap{
      margin-bottom : 20px;
    }
    .nav.nav-tabs{
      justify-content: space-around;
      padding-top: 20px;
      position: fixed;
      left: 0;
      right: 0;
      background: #fff;
      bottom: 0;
      z-index: 11111;
      box-shadow: 0px -1px 12px #cfcfcf;
    }
    .nav.nav-tabs .nav-item{
      margin : 0px !important;
    }
    .nav.nav-tabs .nav-item .nav-link{
      margin : 0px !important;
    }
    .cost-breakout .nav.nav-tabs{
      position : relative !important;
      box-shadow : none !important;
    }
  }
</style>
