<template>
  <div v-if="data.items.length>0" class="w-100">
    <div v-if="data.heading" class="card-header white-bg px-3 py-0" id="headingTwo">
        <div class="mb-0 py-3 fs-16" v-b-toggle="'collapse'+data.unique_id">
            {{data.heading}}
            <span class="float-right">&#62;</span>
            <article v-if="data.total_price" class="float-right pr-3">&#8377;{{numberWithCommas(data.total_price)}}</article>
        </div>
    </div>

     <b-collapse :id="'collapse'+data.unique_id" :visible="!data.heading" class="white-bg">
        <div class="card-body p-0" style="background-color: white; border-bottom: none;">
          <div class="row no-gutters border-bottom p-3 font-weight-bold" :class="[data.showTh?'':'d-sm-flex d-none']">
              <div class="col" v-for="column in data.fields" :class="column.class">
                  <p class="mb-0 fs-16" :class="column.class">{{column.label}}</p>
              </div>
          </div>
          <div v-if="!isLoaded.value" class="w-100" style="height: 160px; padding-top: 20px;">
              <aside class="ls-loader-circle">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
              </aside>
          </div>
          <div v-if="isLoaded.value" v-for="(item, key) in itemData.currentItems">
            <div class="row no-gutters border-bottom py-1 px-2 f-weight-toggle" v-b-toggle="'modular-collapse-'+item.id+key" >
                <div class="col p-2" v-for="column in data.fields"  :class="column.class">
                    <table-element  v-if="item[column.key]" :items="item[column.key]"></table-element>
                </div>
                <div v-if="item.children&& !data.isModular" class="col-1" :class="{'d-block d-sm-none':item.hideDesktop}">
                  <div v-if="!item.hideDesktop">
                    <span class="float-right entity-down" style="line-height: 36px;">&#62;</span>
                    <!-- <span class="float-right d-inline-block d-sm-none " v-b-modal="'modular-modal-'+item.id+key" style="font-size: 32px;line-height: 19px;">&#8230;</span> -->
                  </div>
                  <div v-if="item.hideDesktop">
                    <span class="float-right entity-down d-inline-block d-sm-none" style="line-height: 36px;">&#62;</span>
                  </div>

                </div>

            </div>

            <div v-if="(item.children && (childrenRendered))" class="d-flex flex-column">

              <b-collapse :id="'modular-collapse-'+item.id+key" :class="[item.hideDesktop?'d-md-none':'']">
               <div class="item-sub-details bg-light-grey px-3" :class='{"modular-container m-3":data.isModular}'>
                 <div class="row no-gutters border-bottom d-sm-flex d-none">
                     <div class="col p-2" v-for="child in item.children.fields" :class="child.class">
                         <p class="mb-0 fs-16">{{child.label}}</p>
                     </div>
                 </div>
                   <div class="row no-gutters border-bottom py-1" v-for="(childItem, parentIndex) in item.currentItems">
                       <div class="col py-2 fs-14" v-for="(child, childIndex) in item.children.fields" :class="child.class">
                           <table-element :items="childItem[child.key]" :identifier="item.id+'-'+parentIndex+'-'+childIndex"></table-element>
                       </div>
                   </div>
                   <div v-if="item.showPagenation" class="row no-gutters pagination-btns py-3">
                     <div class="col-6 text-left">
                       <button v-if="item.back" class="left-pagination" v-on:click="backPage(item)">&#60; Previous</button>
                     </div>
                     <div class="col-6 text-right">
                       <button v-if="item.next" class="right-pagination" v-on:click="nextPage(item)">Next &#62;</button>
                     </div>
                   </div>
               </div>

               </b-collapse>
               <!-- <b-modal :id="'modular-modal-'+item.id+key" hide-footer="true">
                 <modular-modal :data="item.children"></modular-modal>
               </b-modal> -->
           </div>
          </div>
          <div v-if="itemData.showPagenation" class="row no-gutters pagination-btns p-3">
            <div class="col-6 text-left">
              <button v-if="itemData.back" class="left-pagination" v-on:click="backPage(itemData)">&#60; Previous</button>
            </div>
            <div class="col-6 text-right">
              <button v-if="itemData.next" class="right-pagination" v-on:click="nextPage(itemData)">Next &#62;</button>
            </div>
          </div>
        </div>
    </b-collapse>

  </div>
</template>

<script>

import TableElement from './TableElement.vue'
import ModularModal from './ModularModal.vue'
import BOQFormatter from '../services/formatter/boq.js'

export default {
  name: 'Card',
  components: {
    'table-element': TableElement,
    'modular-modal': ModularModal
  },
  props: {
    data: {
      type: Object,
      required: true
    },
    dataClient: {
      type: Object,
      required: false
    }
  },
  data () {
    return {
      isLoaded: {
        value: false
      },
      itemData: {
        showPagenation: false,
        pageNumber: 1,
        currentItems: [],
        totalItems: [],
        next: false,
        back: false,
        pageSize: 500
      },
      childrenRendered: false
    }
  },
  watch: {
    // whenever question changes, this function will run
    'isLoaded.value': function (value) {
      if (value) {
        this.renderChildren(1)
      }
    }
  },
  // watch:{
  //   isLoaded:{
  //       deep:true,
  //       handler(isLoaded) {
  //       // Fetch data about the movie
  //       this.renderChildren();
  //     }
  //   }
  // },
  methods: {
    getClass (fields, field) {
      var valueClass = ''
      // console.log("class called"+ field);
      fields.forEach(function (item) {
        if (item.key == field && 'class' in item) { valueClass = item.class }
      })
      // console.log("returning"+ valueClass)
      return valueClass
    },
    columnExists (fields, key) {
      var exists = false
      fields.forEach(function (item) {
        if (item.key == key) {
          exists = true
        }
      })
      return exists
    },
    numberWithCommas (x) {
      return x.toLocaleString('hi')
    },
    paginate (array, page_size, page_number) {
      --page_number // because pages logically start with 1, but technically with 0
      return array.slice(page_number * page_size, (page_number + 1) * page_size)
    },
    nextPage (itemData) {
      this.childrenRendered = false
      itemData.pageNumber = itemData.pageNumber + 1
      if (itemData.pageNumber != 1) {
        itemData.back = true
      } else {
        itemData.back = false
      }
      var tempItems = this.paginate(itemData.totalItems, this.itemData.pageSize, itemData.pageNumber)
      if (tempItems.length > 0) {
        // itemData.currentItems = tempItems;
        var index = 0
        for (var item of tempItems) {
          this.$set(itemData.currentItems, index, item)
          index++
        }
        if (itemData.totalItems.length == (((itemData.pageNumber - 1) * this.itemData.pageSize) + itemData.currentItems.length)) {
          itemData.next = false
        }
      }
      this.renderChildren(itemData.pageNumber)
    },
    backPage (itemData) {
      this.childrenRendered = false
      itemData.pageNumber = itemData.pageNumber - 1
      itemData.next = true
      if (itemData.pageNumber == 1) {
        itemData.back = false
      }
      // itemData.currentItems = this.paginate(itemData.totalItems, itemData.pageSize, itemData.pageNumber);
      var index = 0
      for (var item of this.paginate(itemData.totalItems, this.itemData.pageSize, itemData.pageNumber)) {
        this.$set(itemData.currentItems, index, item)
        index++
      }

      this.renderChildren(itemData.pageNumber)
    },
    renderChildren (pageNumber) {
      var pageSize = 10
      if (this.itemData.pagenation) {
        pageSize = this.itemData.pageSize
      }
      for (var item of this.itemData.totalItems) {
        if (item.children) {
          item.totalItems = item.children.items
          item.pageNumber = pageNumber
          if (pageNumber != 1) { item.back = true }
          item.currentItems = this.paginate(item.totalItems, pageSize, item.pageNumber)
          if (item.totalItems.length == (((item.pageNumber - 1) * pageSize) + item.currentItems.length)) {
            item.next = false
          } else {
            item.next = true
          }
          if (item.next || item.back) {
            item.showPagenation = true
          }
        }
      }
      this.childrenRendered = true
    }

  },
  created: function () {
    if (this.dataClient) {
      var formatter = new BOQFormatter(this.dataClient)
      formatter.setSectionData(this.data, this.isLoaded)
      // console.log("sdfkkfkfkfkk");
      this.itemData.pagenation = true
      this.itemData.totalItems = this.data.items
      this.itemData.pageNumber = 1
      this.itemData.currentItems = this.paginate(this.data.items, this.itemData.pageSize, this.itemData.pageNumber)
      if (this.itemData.totalItems.length == (((this.itemData.pageNumber - 1) * this.itemData.pageSize) + this.itemData.currentItems.length)) {
        this.itemData.next = false
      } else {
        this.itemData.next = true
      }
      if (this.itemData.next || this.itemData.back) {
        this.itemData.showPagenation = true
      }
    } else {
      console.log(this.data)
      this.itemData.pagenation = false
      this.itemData.totalItems = this.data.items
      this.itemData.currentItems = this.paginate(this.data.items, 10, 1)
      this.isLoaded.value = true
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
div.card-body div:last-child * {
  border-bottom: none !important;
}

.brand-primary {
    color: #F74861;
}
.brand-primary:hover {
    color: rgba(247,72,97,0.8);
}
.brand-primary-bg {
    background-color: #F74861;
}
.white-bg {
    background-color: white;
}
.light-bg {
    background-color: rgba(0,0,0,.05);
}
.text-333 {
    color: #333;
}
.text-666 {
    color: #666;
}
.text-999 {
    color: #999;
}
.font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ls-0 {
    letter-spacing: 0;
}
.ls-0-5 {
    letter-spacing: 0.03125rem;
}
.ls-1 {
    letter-spacing: 0.0625rem;
}
.fs-9 {
    font-size: 0.5625rem;
}
.fs-10 {
    font-size: 0.625rem;
}
.fs-11 {
    font-size: 0.6875rem;
}
.fs-12 {
    font-size: 0.75rem;
}
.fs-13 {
    font-size: 0.8125rem;
}
.fs-14 {
    font-size: 0.875rem;
}
.fs-15 {
    font-size: 0.9375rem;
}
.fs-16 {
    font-size: 1rem;
}
.fs-18 {
    font-size: 1.125rem;
}
.fs-20 {
    font-size: 1.25rem;
}
.fs-22 {
    font-size: 1.375rem;
}
.fs-24 {
    font-size: 1.5rem;
}
header.boq-header a {
    font-size: 23px;
}
@media (min-width: 768px) {
    header.boq-header a {
       font-size: 12px;
    }
}
.designer-details img.rounded-circle {
    max-width: 48px;
}
.designer-details a:hover {
    color: #666;
}
a.hover-no-udl:hover {
    text-decoration: none;
}
@media (max-width: 768px) {
    .personal-details .table th, .personal-details .table td {
        padding: 0.25rem;
    }
}
.max-w-300 {
    max-width: 300px;
}
.max-w-250 {
    max-width: 250px;
}
.max-w-200 {
    max-width: 200px;
}
.max-w-65 {
    max-width: 65px;
}
.max-w-50 {
    max-width: 50px;
}
.max-w-25 {
    max-width: 25px;
}
main {
    background-color: #F1F1F1;
}
div.card {
    border: none;
}
div.card-header h5 {
    letter-spacing: normal;
    line-height: 22px;
    color: #3C3542;
    cursor: pointer;
}
div.card-body {
    border-bottom: 1px solid rgba(0,0,0,0.15);
    background-color: rgba(0,0,0,0.02);
}
div.card-body p {
    letter-spacing: -0.34px;
    line-height: 20px;
    color: #3C3542
}
div.card-body a {
    letter-spacing: -0.26px;
    line-height: 1;
}
div.card-body a:hover {
    text-decoration: none;
}
div.card-header div.collapsed span.float-right {
    -webkit-transform: rotate(90deg);
    -moz-transform:    rotate(90deg);
    -ms-transform:     rotate(90deg);
    -o-transform:      rotate(90deg);
    transform:         rotate(90deg);
    transition: all 400ms ease;
}
div.card-header div span.float-right {
    -webkit-transform: rotate(270deg);
    -moz-transform:    rotate(270deg);
    -ms-transform:     rotate(270deg);
    -o-transform:      rotate(270deg);
    transform:         rotate(270deg);
    transition: all 400ms ease;
}
div.collapsed span.float-right.entity-down {
    -webkit-transform: rotate(90deg);
    -moz-transform:    rotate(90deg);
    -ms-transform:     rotate(90deg);
    -o-transform:      rotate(90deg);
    transform:         rotate(90deg);
    transition: all 400ms ease;
}
div span.float-right.entity-down {
    -webkit-transform: rotate(270deg);
    -moz-transform:    rotate(270deg);
    -ms-transform:     rotate(270deg);
    -o-transform:      rotate(270deg);
    transform:         rotate(270deg);
    transition: all 400ms ease;
}
article#project-summary div.f-weight-toggle.collapsed {
  font-weight: normal;
}
article#project-summary div.f-weight-toggle  {
  font-weight: bold;
}
div.item-sub-details div.row.no-gutters.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}
div.pagination-btns button {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  color: #f74861;
}
div.pagination-btns button:focus {
  outline: none;
}
div.pagination-btns button.disabled {
  color: #6c757d;
  pointer-events: none;
}

.modular-container{
  max-height: 400px;
  overflow: auto;

}
</style>
