<template>
  <div class="designer-card">
      <div class="designer-img-wrap">
          <div class="designer-img">
              <img class="img-responsive" :src="designerDetails.designerImage" alt="designer_image">
          </div>
          <div class="about-designer">
              <p>Hi {{designerDetails.customerName}}, please review the quote and reach out to me if you have any questions or concerns.</p>
              <div class="notification-edge"></div>
          </div>
      </div>
      <div class="designer-contact-info">
          <h5 style="font-size:18px;margin:20px 0px;">{{designerDetails.designerName}}</h5>
          <p style="color : #979797;font-size: 12px;margin-bottom: 5px;">
              <span class="glyphicon glyphicon-envelope"></span>
              <span style="display:inline-block;padding-left:10px;">{{designerDetails.designerEmail}}</span>
          </p>
          <p style="color : #979797;font-size: 12px;">
              <span class="glyphicon glyphicon-earphone"></span>
              <span style="display:inline-block;padding-left:10px;">{{designerDetails.designerPhone}}</span>
          </p>
      </div>
      <a :href="'tel:+'+designerDetails.designerPhone" class="btn-block" style="text-align: center;background-color: rgb(247, 72, 97);color: rgb(255, 255, 255);line-height: 40px;"> Call Designer </a>
      <!-- <button class="btn-block" style="background-color:#f0f2f4;color:#676565;"> Leave a Feedback </button> -->
  </div>
</template>

<script>
export default {
  props:{
    formatter:{
      type: Object,
      required: true,
    },
  },
  data () {
    return {
      designerDetails: {}
    }
  },
  mounted: function () {
    this.designerDetails = this.formatter.getDesignerDetails()
  },
}
</script>

<style>

.designer-card .designer-img-wrap{
    position: relative;
}
.designer-card{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 2px 1px -1px; /*0px 0px 15px #cfcfcf;*/
    padding: 20px 40px;
}

@media (max-width:500px){
    .designer-card{
        padding: 20px 50px;
    }
}

.designer-card .designer-img{
    border-radius: 50%;
    position: absolute;
    width: 70px;
    height: 70px;
    overflow: hidden;
    bottom: 10px;
    left: -5px;
}
.designer-card .about-designer{
    width: 70%;
    margin-left:95px;
    background-color: #f0f2f4;
    padding: 10px 15px;
    border-radius: 10px;
    color: #63696d;
    font-style: italic;
    position : relative;
}

.notification-edge{
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 1px solid transparent;
    border-right: 46px solid #f0f2f4;
    position: absolute;
    left: -35px;
    bottom : 10px;
}
.btn-block{
    width : 100%;
    height: 40px;
    border : 0px;
    border-radius: 25px;
    margin-bottom: 10px;
}
.designer-contact-info{
    margin-bottom: 20px;
}
</style>
