<template>
  <div class="card-body p-0" style="border-bottom: none;">
    <div class="row no-gutters border-bottom p-3 font-weight-bold d-md-flex  d-none d-sm-block">
        <div class="col col-md-3">
            <p class="mb-0 fs-16">Item Name</p>
        </div>
        <div class="col col-md-3">
            <p class="mb-0 fs-16">Specifications</p>
        </div>
        <div class="col col-md-3">
            <p class="mb-0 fs-16">Dimensions</p>
        </div>
        <div class="col col-md-1 text-center">
            <p class="mb-0 fs-16">Qty</p>
        </div>
        <div class="col col-md-2 text-right">
            <p class="mb-0 fs-16">Price</p>
        </div>
    </div>
    <div v-for="(itemdash, key) in data.items" :key="key" class="border-bottom-last-child-toggle">
      <div v-if="itemdash.metaData" class="row no-gutters py-1 px-md-2 px-3" >
        <b-modal :id="'modal'+itemdash.metaData.code+key" :hide-footer="hideFooter" header-class="border-bottom-0" size="lg">
          <item-modal :data="itemdash.metaData" :dataClient="dataClient"></item-modal>
        </b-modal>
          <div class="media col col-md-3 pl-md-1 pr-md-2 pl-0 pr-0 py-2" v-b-modal="'modal'+itemdash.metaData.code+key">
              <img class="img-fluid d-none d-md-block pr-2" style="max-width:100px;" v-bind:src="itemdash.metaData.cover_image_url" alt="" onError="this.onerror=null;this.src='https://cdn.livmatrix.com//img/logos/ruby/livspace-square.png';">
              <div v-b-modal="'modal'+itemdash.metaData.code" class="media-body">
                <p class="mb-0">{{itemdash.metaData.display_name}}</p>
                <button class="btn btn-link brand-primary mb-0 fs-13 pl-0">View Details</button>
              </div>
          </div>
          <div class="col col-md-3 px-3 py-2 d-none d-md-block">
            <div v-if="itemdash.metaData.fields" >
              <div v-for="field in itemdash.metaData.fields" :key="field.display_name" class="media pb-2">
                <img class="img-fluid max-w-65 d-none d-md-block pr-2" v-bind:src="field.option.swatch_image_url" alt="" onError="this.onerror=null;this.src='https://cdn.livmatrix.com//img/logos/ruby/livspace-square.png';">
                <div class="media-body">
                  <p class="mb-0 lh-1">{{field.display_name}}</p>
                  <p class="mb-0 pt-1">{{field.option.display_name}}</p>
                </div>
              </div>
            </div>
            <div v-else>
              N/A
            </div>
          </div>
          <div class="col col-md-3 px-3 py-2 d-none d-md-block">

            <div v-if="itemdash.metaData.dimensions">
              <div v-for="(value,key) in itemdash.metaData.dimensions" :key="key">
                <div>
                  <span class="mb-0">{{key}} : {{value}}</span>
                </div>
              </div>
            </div>
            <div v-else>
              <span>N/A</span>
            </div>
          </div>
          <div class="col col-md-1 px-3 py-2 d-none text-center d-md-block" >
              <p class="mb-0"> {{itemdash.quantity}}</p>
          </div>
          <div class="col col-md-2 py-2 pl-2 text-right">
              <p class="mb-0">{{itemdash.sub_total | toCurrency}}</p>
          </div>
      </div>

    </div>

  </div>
</template>
<script>
import ItemDetailModal from './ItemDetailModal.vue'

export default {
  props: {
    data: {
      type: Object,
      required: true
    },
    dataClient:{
      type: Object,
      required: true,
    }
  },
  components: {
    'item-modal': ItemDetailModal
  },
  data () {
    return {
      hideFooter: true
    }
  }
}
</script>
