<template>
  <svg width="30px" height="30px" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch 54 (76480) - https://sketchapp.com -->
      <title>Group 3</title>
      <desc>Created with Sketch.</desc>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Group-3">
              <ellipse id="Oval-Copy" fill="#fff" opacity="0.7" cx="32" cy="31.830837" rx="32" ry="31.830837"></ellipse>
              <g id="ic-round-keyboard-arrow-right-copy" transform="translate(32.000000, 31.703965) scale(-1, 1) rotate(-180.000000) translate(-32.000000, -31.703965) translate(8.000000, 7.703965)" fill-rule="nonzero">
                  <g id="Icon" transform="translate(16.000000, 11.936564)" fill="#000">
                      <path d="M2.58,19.6555419 L10.34,11.9365639 L2.58,4.2175859 C2.07625551,3.71650439 1.87952088,2.98616216 2.06390416,2.30167208 C2.24828743,1.61718199 2.7857764,1.08253437 3.47390417,0.899125809 C4.16203194,0.715717247 4.89625552,0.911411864 5.4,1.41249339 L14.58,10.5439648 C15.36,11.3198414 15.36,12.5731806 14.58,13.3490573 L5.4,22.4805286 C5.02631081,22.8530053 4.51901894,23.0623248 3.99,23.0623248 C3.46098106,23.0623248 2.95368919,22.8530053 2.58,22.4805286 C1.82,21.704652 1.8,20.4314185 2.58,19.6555419 Z" id="Icon-Path"></path>
                  </g>
                  <rect id="ViewBox" x="0" y="0" width="48" height="47.7462555"></rect>
              </g>
          </g>
      </g>
  </svg>
</template>
<script>
export default {
  data () {
    return {
    }
  }
}
</script>
