<template>
  <!-- <div class="l-row">
    <div class="l-col">
    <div v-for="video in videoUrls">
      <video autoplay loop style="width: 601px;" controls="controls">
        <source :src="video" height="552" type="video/mp4">
        Your browser does not support the video tag.
     </video>
   </div>

    </div>
  </div> -->

  <div v-if="videoUrls.length>0" class="card-carousel">
      <div class="card-img">
          <video id="video" autoplay loop style="width: 100%;height:100%;" controls="controls" :key="currentImage">
            <source :src="currentImage" height="552" type="video/mp4">
            Your browser does not support the video tag.
         </video>
          <div class="actions">
              <span @click="prevImage" class="prev"> <arrow></arrow></span>
              <span @click="nextImage" class="next"> <arrow></arrow> </span>
          </div>
      </div>
  </div>
</template>

<script>
import arrow from './ImageArrow.vue'
export default {
  components: {
      arrow
    },
  props: {
    formatter:{
      type: Object,
      required: true,
    }
  },
  data () {
    return {
      videoUrls: [],
      activeImage: 0,
      window: {
          width: 0,
          height: 0
      },
      runSlow : 0.1
    }
  },
  created() {
      this.videoUrls = this.formatter.getLivHomeVideoUrls()
      window.addEventListener('resize', this.handleResize)
      this.handleResize();
  },
  destroyed() {
      window.removeEventListener('resize', this.handleResize)
  },
  computed : {
      currentImage(){
          return this.videoUrls[this.activeImage];
      }
  },
  mounted () {
    const video =  document.getElementById("video")
    if (video) video.defaultPlaybackRate = 0.6;
  },
  methods : {
      nextImage(){
          var active = this.activeImage + 1;
          if(active >= this.videoUrls.length) {
              active = 0;
          }
          this.activateImage(active);
      },
      prevImage() {
          var active = this.activeImage - 1;
          if(active < 0) {
              active = this.videoUrls.length - 1;
          }
          this.activateImage(active);
      },
      activateImage(imageIndex) {
          this.activeImage = imageIndex;
      },
      handleResize() {
          this.window.width = window.innerWidth;
          this.window.height = window.innerHeight;
      }
  }
}
</script>
<style>
.thumbnails{
    display : flex;
    margin-top : 20px;
}
.thumbnail-image{
    width : 100px;
    height : 60px;
    cursor : pointer;
    border : 2px solid transparent;
    margin-right : 20px;
    padding : 5px;
}
.thumbnail-image.active{
    border-width: 2px;
    border-color: #f75c72;
    border-radius : 5px;
}
.thumbnail-image img{
    width : 100%;
    height : 100%;
}
.img-responsive{
    width : 100%;
    height : auto;
}
.next{
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 25px;
    cursor : pointer;
}
.prev{
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 25px;
    cursor : pointer;
    transform: rotateY(180deg);
}
.card-img{
    position : relative;
    border-radius : 5px !important;
    overflow : hidden;
    width: 100%;
    min-height: 150px;
    display: flex;
    align-items: center;
}
</style>
