<template>
  <div>
    <article class="container pt-4 pb-1 d-none d-md-block ls-boq-shadow">
        <div class="row my-4">
            <div class="col-4">
                <figure class="text-center">
                    <img class="img-fluid max-w-105 mx-auto" alt="10-year Warranty"
                        src="https://images.livmatrix.com/img/customer_boq/10-yr-warranty.png">
                    <figcaption class="pt-3 figure-caption text-333 fs-14 font-weight-normal text-center">
                        Up To 10-Yr Warranty
                    </figcaption>
                </figure>
            </div>
            <div class="col-4">
                <figure class="text-center">
                    <img class="img-fluid max-w-105 mx-auto" alt="Flexible EMI Options"
                        src="https://images.livmatrix.com/img/customer_boq/flexible-emi-options.png">
                    <figcaption class="pt-3 figure-caption text-333 fs-14 font-weight-normal text-center">
                        Flexible EMI Options
                    </figcaption>
                </figure>
            </div>
            <!-- <div class="col-3">
                <figure class="text-center">
                    <img class="img-fluid max-w-105 mx-auto" alt="On Time Interiors"
                        src="https://images.livmatrix.com/img/customer_boq/on-time-interiors.png">
                        <figcaption class="pt-3 figure-caption text-333 fs-14 font-weight-normal text-center">
                            On Time Interiors
                        </figcaption>
                </figure>
            </div> -->
            <div class="col-4">
                <figure class="text-center">
                    <img class="img-fluid max-w-105 mx-auto" alt="Transparent Pricing"
                        src="https://images.livmatrix.com/img/customer_boq/transparent-pricing.png">
                        <figcaption class="pt-3 figure-caption text-333 fs-14 font-weight-normal text-center">
                            Transparent Pricing
                        </figcaption>
                </figure>
            </div>
        </div>
    </article>
    <article class="container-fluid d-block d-sm-none mt-3 ls-boq-shadow">
        <div class="row text-center py-3 white-bg">
            <div class="col-4">
                <figure class="figure mb-0">
                    <img class="rounded-circle max-w-65"
                        src="https://images.livmatrix.com/img/customer_boq/10-yr-warranty.png"
                        alt="10-year Warranty">
                    <figcaption class="pt-3 figure-caption text-333 fs-12 font-weight-normal text-center">
                        Up To <br> 10-Yr Warranty
                    </figcaption>
                </figure>
            </div>
            <!-- <div class="col-4">
                <figure class="figure mb-0">
                    <img class="rounded-circle max-w-65"
                        src="https://images.livmatrix.com/img/customer_boq/on-time-interiors.png"
                        alt="On Time Interiors">
                    <figcaption class="pt-3 figure-caption text-333 fs-12 font-weight-normal text-center">
                        On Time <br> Interiors
                    </figcaption>
                </figure>
            </div> -->
            <div class="col-4">
                <figure class="figure mb-0">
                    <img class="rounded-circle max-w-65" alt="Flexible EMI Options"
                        src="https://images.livmatrix.com/img/customer_boq/flexible-emi-options.png">
                    <figcaption class="pt-3 figure-caption text-333 fs-12 font-weight-normal text-center">
                        Flexible EMI Options
                    </figcaption>
                </figure>
            </div>
            <div class="col-4">
                <figure class="figure mb-0">
                    <img class="rounded-circle max-w-65"
                        src="https://images.livmatrix.com/img/customer_boq/transparent-pricing.png"
                        alt="Transparent Pricing">
                    <figcaption class="pt-3 figure-caption text-333 fs-12 font-weight-normal text-center">
                    Transparent <br> Pricing
                    </figcaption>
                </figure>
            </div>
        </div>
    </article>
  </div>
</template>

<script>

export default {
  name: 'LivspaceStatic',
  data () {
    return {
    }
  }
}

</script>
