<!--
    this componet takes array of images as props i.e
    images : {
        [
            {
                id : '',
                big : '',
                thumb : ''
            },
        ],
        ...
    }
-->
<template>
    <div class="card-carousel">
        <div class="card-img">
            <img :src="currentImage" alt="big image" class="img-responsive">
            <div v-if="images.length>1" class="actions">
                <span @click="prevImage" class="prev"> <arrow></arrow></span>
                <span @click="nextImage" class="next"> <arrow></arrow> </span>
            </div>
        </div>
        <div class="thumbnails" v-if="window.width > 500">
            <div
                v-for="(image, index) in  images"
                :class="['thumbnail-image', (activeImage == index) ? 'active' : '']"
                @click="activateImage(index)"
            >
                <img :src="image" />
            </div>
        </div>
    </div>
</template>

<script>

import arrow from './ImageArrow.vue'

export default {
  components: {
      arrow
    },
    props : {
        images : Array
    },
    data(){
        return {
            activeImage: 0,
            window: {
                width: 0,
                height: 0
            }
        }
    },
    created() {
        window.addEventListener('resize', this.handleResize)
        this.handleResize();
    },
    destroyed() {
        window.removeEventListener('resize', this.handleResize)
    },
    computed : {
        currentImage(){
            return this.images[this.activeImage];
        }
    },
    methods : {
        nextImage(){
            var active = this.activeImage + 1;
            if(active >= this.images.length) {
                active = 0;
            }
            this.activateImage(active);
        },
        prevImage() {
            var active = this.activeImage - 1;
            if(active < 0) {
                active = this.images.length - 1;
            }
            this.activateImage(active);
        },
        activateImage(imageIndex) {
            this.activeImage = imageIndex;
        },
        handleResize() {
            this.window.width = window.innerWidth;
            this.window.height = window.innerHeight;
        }
    }
}
</script>


<style>
    .thumbnails{
        display : flex;
        margin-top : 20px;
    }
    .thumbnail-image{
        width : 100px;
        height : 60px;
        cursor : pointer;
        border : 2px solid transparent;
        margin-right : 20px;
        padding : 5px;
    }
    .thumbnail-image.active{
        border-width: 2px;
        border-color: #f75c72;
        border-radius : 5px;
    }
    .thumbnail-image img{
        width : 100%;
        height : 100%;
    }
    .img-responsive{
        width : 100%;
        height : auto;
    }
    .next{
        position: absolute;
        right: 20px;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 20px;
        height: 25px;
        cursor : pointer;
    }
    .prev{
        position: absolute;
        left: 20px;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 20px;
        height: 25px;
        cursor : pointer;
        transform: rotateY(180deg);
    }
    .card-img{
        position : relative;
        border-radius : 5px !important;
        overflow : hidden;
        width: 100%;
        min-height: 150px;
        display: flex;
        align-items: center;
    }
</style>
