<template functional>
  <div class="breakout-list">
    <div class="list-text-item">
        <p class="text">
            <span class="label-medium"> Sub Total </span>
            <span style="flex-basis : 150px;text-align: right;"> 
              {{paymentDetails.subTotal | toCurrency}}
            </span>
        </p>
        <p v-if="paymentDetails.discount" class="text">
            <span class="label-medium"> Discount </span>
            <span style="display:inline-block;padding-left:40px;"> {{paymentDetails.discount | toCurrency}}</span>
        </p>
        <p class="text">
            <span class="label-medium"> Design &amp; project management fee </span>
            <span style="flex-basis : 150px;text-align: right;"> {{paymentDetails.handlingFee | toCurrency}}</span>
        </p>
    </div>
    <div class="list-text-item list-text-item-last">
        <p class="text">
            <span class="font-size-13"> Total project estimate </span>
            <span style="text-align: right;"> {{paymentDetails.total | toCurrency}}</span>
        </p>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    paymentDetails: {
      type: Object,
      required: true
    }
  }
}
</script>