<template>
  <div>
    <p class="" v-if="subs">Payment terms for your Livspace project<sup>1</sup></p>
    <div class="payment-info">
      <div class="paymetn-item">
          <p>Booking<sup v-if="subs">2</sup> Fee<sup v-if="subs">3</sup> <b>(10%)</b></p>
          <p>{{tenPercent | toCurrency(formatter.currencyType, formatter.countryISOCode)}}</p>
      </div>
      <div class="paymetn-item">
          <p>Place Order(s) <b>(40%)</b></p>
          <p>{{fiftyPercent | toCurrency(formatter.currencyType, formatter.countryISOCode)}}</p>
      </div>
      <div class="paymetn-item">
          <p v-if="subs">Execution stages<sup v-if="subs">4</sup>/prior to delivery (50%)</p>
          <p v-if="!subs">Execution stages<sup v-if="!subs">**</sup>/prior to delivery (50%)</p>
          <p>{{complete | toCurrency(formatter.currencyType, formatter.countryISOCode)}}</p>
      </div>
      <div class="paymetn-item">
          <p><b>Estimated project quote<sup v-if="subs">5</sup></b></p>
          <p><b>{{summaryDetails.totalPrice | toCurrency(formatter.currencyType, formatter.countryISOCode)}}</b></p>
      </div>
    </div>
    <p v-if="!subs" style="font-size: 11px;color: #707375">**After the 40% stage, payments are to be made as per order type. For Civil, MEP work + custom furniture, 25% of the order(s) value will be due at Execution Stage 1 and 25% will be due at execution stage 2. For Livspace catalog products, 50% of the order value will be due before delivery.</p>
  </div>
</template>
<script>

export default {
  props:{
    formatter:{
      type: Object,
      required: true,
    },
    subs:{
      type: Boolean,
      default: false,
    }
  },
  data () {
    return {
      summaryDetails: {},
      tenPercent: 0,
      fiftyPercent: 0,
      complete: 0
    }
  },
  beforeMount: function(){
    this.summaryDetails = this.formatter.getSummaryDetails()
    this.tenPercent = Math.round(this.summaryDetails.totalPrice*0.1);
    this.fiftyPercent = Math.round(this.summaryDetails.totalPrice*0.4);
    this.complete = Math.round(this.summaryDetails.totalPrice*0.5);
  }
}
</script>

<style scoped>
  .subtext {

  }
</style>
