<template>
    <div v-if="open" id="product-detials"  v-bind:class="{ openProductDetials : open }">
        <div class="product-detials-wrap">
            <div class="header">
                <span @click="closeProductDetails" style="transform: rotateZ(90deg);display: inline-block;">
                    <arrow></arrow>
                </span>
                <span class="header-text">Product Details</span>
            </div>
            <div class="details">
                <p class="product-name">{{product.display_name}}</p>
                <div class="product-image">
                    <img :src="product.cover_image_url" alt="image" />
                </div>
                <!-- <div class="details-item">
                    <p class="heading">Sold by</p>
                    <p class="text">j k Woods</p>
                </div>
                <div class="details-item">
                    <p class="heading">Sold by</p>
                    <p class="text">j k Woods</p>
                </div> -->
                <div class="product-information">
                    <h5 class="heading">Product information</h5>
                    <p v-if="product.dimensions" class="info-item">
                        <span>Dimension WXDXH(mm)</span>
                        <span class="item-type">{{product.dimensions.width}} X {{product.dimensions.depth}} X {{product.dimensions.height}}</span>
                    </p>
                    <div v-for="(value, key) in product.fields">
                        <div v-if="value.display_name" class="info-item">
                            <span class="item-name">{{ value.display_name }}</span>
                            <div class="item-image">
                                <img v-if="value.option.swatch_image_url" src="value.option.swatch_image_url" width="30" height="30" />
                                <span>{{ value.option.display_name }}</span>
                            </div>
                        </div>
                    </div>
                    <!-- <p class="info-item">
                        <span>Carcass material</span>
                        <span class="item-type">Plywood</span>
                    </p>
                    <p class="info-item">
                        <span>Carcass internal finish</span>
                        <span class="item-type">Frosty white-laminate</span>
                    </p>
                    <p class="info-item">
                        <span>Shutter opening</span>
                        <span class="item-type">Right</span>
                    </p> -->
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import arrow from './DownArrow.vue'
export default {
    components : {
        arrow
    },
    props : {
        open : Boolean,
        product: {}
    },
    methods : {
        closeProductDetails(){
            this.$emit('closeProductDetails');
        }
    }
}
</script>

<style>
    #product-detials{
        position: fixed;
        background-color: #fff;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 100000;
        font-size : 18px;
        overflow-y: scroll;
        display : none;
    }
    @media (max-width : 500px){
        .product-detials-wrap{
            width: 100%;
            height: 100%;
        }
    }
    @media (min-width : 500px){
        #product-detials{
            background-color : rgba(0,0,0,0.9) !important;
            left: 30%;
            top: 0;
            bottom: 0;
            position: fixed;
            z-index: 100000000;
        }
        .product-detials-wrap{
            background-color: #fff;
            position: absolute;
            width: 100%;
            height  : 100%;
            overflow : scroll;
        }
        .product-detials-wrap .details .product-image{
            height : 50vh;
            text-align : center;
            margin-bottom : 50px;
        }
        .product-detials-wrap .details .product-image img{
            height : inherit;
        }
        .product-detials-wrap .details .product-name{
            font-weight : bold;
        }
    }
    .header{
        padding : 15px;
    }
    .header-text{
        padding-left : 15px;
    }

    .details .product-name{
        font-size: 0.8em;
        padding: 15px;
        color: #000;
        margin : 0px;
    }
    .details .product-image{
        padding : 15px;
    }
    .details .product-image img{
        max-width : 100%;
        height : auto;
        margin : auto;
    }
    .details-item{
        padding : 10px 15px;
        border-bottom : 1px solid #eaeaea;
    }
    .openProductDetials{
        display : flex !important;
        justify-content : center;
        align-items : center;
    }
    .details-item .heading{
        font-size : 0.8em;
        color : #000;
        margin-bottom: 5px;
    }
    .details-item .text{
        font-size : 0.7em;
        color : #8e8e8e;
        margin-bottom: 5px;
    }
    .product-information{
        padding  : 15px;
    }
    .product-information .heading{
        font-size : 0.8em;
        margin-bottom : 15px;
    }
    .product-information .info-item{
        font-size: 0.7em;
        color: #4c4c4c;
        margin-bottom : 8px;
        flex-basis : 50%;
        display : flex;
        align-items : center;
    }
    .product-information .info-item .item-image{
        display : flex;
        align-items : center;
    }
    .product-information .info-item .item-image img{
        margin-right : 15px;
    }
    .product-information .info-item span{
        width : 50%;
        display : inline-block;
    }
    .product-information .info-item .item-type{
        color : #000;
        font-weight : bold;
    }
</style>
