<template>
  <div class="card-body p-0" style="background-color: white; border-bottom: none;">
    <div class="row no-gutters border-bottom p-3 font-weight-bold font-md-weight-bold d-md-flex d-none">
        <div class="col">
            <p class="mb-0 fs-16">Room Name</p>
        </div>
        <div class="col text-right d-md-inline-block d-none">
            <p class="mb-0 fs-16">Modular Products</p>
        </div>
        <div class="col text-right d-md-inline-block d-none">
            <p class="mb-0 fs-16">Others</p>
        </div>
        <div class="col text-right d-md-inline-block d-none">
            <p class="mb-0 fs-16">Civil Work</p>
        </div>
        <div class="col text-right">
            <p class="mb-0 fs-16 pr-4" >Price</p>
        </div>
    </div>
    <div v-for="(itemdash, key) in data.items" :key="key" class="d-flex flex-column">
      <div class="row no-gutters border-bottom py-1 px-2 f-xs-weight-toggle" v-b-toggle="'project-summary-collapse-'+itemdash.id+key">
          <div class="col p-2">
              <p class="mb-0 text-uppercase">{{itemdash.room_name}}</p>
          </div>
          <div class="col p-2 text-right d-md-inline-block d-none">
              <p class="mb-0 text-right">{{itemdash.modular_price | toCurrency}}</p>
          </div>
          <div class="col p-2 text-right d-md-inline-block d-none">
              <p class="mb-0 text-right">{{itemdash.others_price | toCurrency}}</p>
          </div>
          <div class="col p-2 text-right d-md-inline-block d-none">
              <p class="mb-0 text-right">{{itemdash.civil_price | toCurrency}}</p>
          </div>
          <div class="col p-2 text-right">
              <span class="d-md-none d-inline float-right entity-down">
                <down-arrow></down-arrow>
              </span>
              <span class="mb-0 float-md-none float-right pr-3">{{itemdash.total_price | toCurrency}}</span>
          </div>
      </div>
      <div v-if="itemdash.children" class="d-md-none flex-column d-flex">
        <b-collapse :id="'project-summary-collapse-'+itemdash.id+key" class="bg-light-grey px-2 py-0">
          <div class="card-body p-0" style="border-bottom: none;">
            <div v-for="(itemdash, key) in itemdash.children.items" :key="key">
              <div class="row no-gutters border-bottom py-1 mx-2" >
                  <div class="media col py-2">
                      <span>{{itemdash.section_name}}</span>
                  </div>
                  <div class="col text-right py-2">
                      <span>{{itemdash.section_total | toCurrency}}</span>
                  </div>
              </div>
            </div>
          </div>
         </b-collapse>
         <!-- <b-modal :id="'modular-modal-'+item.id+key" hide-footer="true">
           <modular-modal :data="item.children"></modular-modal>
         </b-modal> -->
     </div>

    </div>
    <div class="row border-bottom no-gutters py-3" >
      <div class="col text-right pr-3">
        <p class="my-1">Sub Total: <strong>{{data.sub_total | toCurrency}}</strong></p>
        <p class="my-1">Design & project management fee: <strong>{{data.handling_fee | toCurrency}}</strong></p>
        <p v-if="data.discount" class="my-1">Discount: <strong>{{data.discount | toCurrency}}</strong></p>
      </div>
    </div>
    <div class="row border-bottom no-gutters py-4" >
      <div class="col text-right pr-3">
        <span>Total project estimate: <strong>{{data.total | toCurrency}}<sup>*</sup></strong></span>
      </div>
    </div>
  </div>
</template>
<script>
import DownArrow from './DownArrow'
export default {
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  components: {DownArrow}
}
</script>
