<template>
  <div v-if="isLoaded.error" class="d-flex justify-content-center py-5">
    <span>Failed to load details.</span>
    <button class="btn btn-link px-2 py-0" @click="$emit('retry')">Retry</button>
  </div>
  <div v-else-if="!isLoaded.value" class="w-100" style="height: 200px;">
    <aside class="ls-loader-circle">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </aside>
  </div>
</template>
<script>
export default {
  props: {
    isLoaded: {
      type: Object,
      required: true
    }
  }
}
</script>
