<template>

  <div>
    <div id="rooms">
      <div class="room-header">
        <h1 class="heading">{{roomsData.validRooms}} Rooms </h1>
        <p class="subtext">Check out the design recommendations for each room and their expected cost.</p>
      </div>
      <div class="rooms-list">
        <masonry :cols="(window.width > 500) ? 2 : 1" :gutter="(window.width > 500) ? 50 : 0">
          <div
            class="room-card"
            v-for="(room, index) in roomsWithTotal"
            :key="index"
          >
            <h3 class="title">
              <span>{{room.display_name}}</span>
              <span>{{room.total | toCurrency(formatter.currencyType, formatter.countryISOCode)}}</span>
            </h3>
            <Carousel v-if="room.images.length" :images="room.images" />
            <div class="about-room" @click="openDrawer(room.id)">
              <h4 v-if="room.tags.length>0" class="hash-tags">
                  <span
                    v-for="(tag, index) in room.tags"
                    :key="index"
                  >
                    #{{tag.name}}
                  </span>
              </h4>
              <p v-if="room.description" class="text">{{room.description}}</p>
              <CostList
                :listElements="getScopesWithTotal(room.scopes)"
                :showchevron="false"
                :formatter="formatter"
                :compact="true"/>
              <p class="all-products-link"> View product details</p>
            </div>
          </div>
        </masonry>
      </div>
    </div>
  </div>

</template>

<script>
import Carousel from './LsCarousel.vue'
import Drawer from './Drawer.vue'
import { scopeColors } from './CostBreakout'
import CostList from './CostList'

export default {
  components: {
    Carousel,
    Drawer,
    CostList
  },
  props:{
    formatter:{
      type: Object,
      required: true,
    },
  },
  data () {
    return {
      roomsData: {},
      window : {
          width : window.innerWidth
      },
      selectedRoomId : 0,
      isDrawerOpen : false,

    }
  },
  methods : {
    openDrawer( val ){
      // console.log("roomClicked");
      this.isDrawerOpen = true;
      this.selectedRoomId = val;
      this.$emit('openRoom', val);
    },
    getScopesWithTotal(scopes) {
      return Object.entries(scopes)
        .filter(([name, value]) => !!value.total)
        .map(([name, value]) => {
          return {
            currencyvalue: value.total,
            name,
            color: scopeColors[name.toUpperCase()] || "#2A465B"
          }
        })
    },
    getLegendColor(value) {
      return {'background-color': '#C2E7D5'}
      // const indexofroom = this.roomOptions.labels.indexOf(value[0]);
      // const colorsarraylength = this.roomOptions.colors.length;
      // return {'background-color': this.roomOptions.colors[indexofroom % colorsarraylength]}
    },
    // closeDrawer(){
    //   this.isDrawerOpen = false;
    // }
  },
  mounted: function () {
    window.vm = this
    this.roomsData = this.formatter.getRoomsDetails()
  },
  computed: {
    roomsWithTotal: function() {
      if (this.roomsData.filter) {
        return this.roomsData.filter(room => !!room.total)
      } else {
        return []
      }

    }
  }
}
</script>

<style>

  @media ( max-width : 500px ){
    body{
      font-size : 14px;
    }

    .room-card{
      /* padding : 15px !important; */
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .room-card .title{
      padding-top : 5px !important;
      margin-bottom : 15px !important;
      padding-left: 15px;
      padding-right: 15px;
    }

    .room-card .card-carousel {
      padding-left: 15px;
      padding-right: 15px;
    }

    .room-header .subtext{
      margin-bottom : 30px !important;
    }
  }

  .room-card{
    background-color: #fff;
    box-shadow : rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 2px 1px -1px; /* 0px 0px 15px #cfcfcf;*/
    /* padding : 20px 30px; */
    border-radius : 5px;
    margin-bottom : 50px;
  }
  .room-card .title{
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    color: #000;
    margin-bottom : 20px;
  }
  .hash-tags{
    font-size : 1em;
    color : #000;
    margin : 15px 0px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .room-card .about-room .text{
    color: #787878;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .room-card .tags .tag {
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: solid 1px gainsboro;
  }
  .room-card .tags .tag .tag-name{
    font-size : 0.83em;
  }
  .room-card .tags .tag .tag-price {
    font-size : 0.83em;
  }
  .room-card .tags .tag .tag-name .color {
    width: 12px;
    height: 12px;
    background-color: red;
    display: inline-block;
    border-radius: 2px;
    margin-right: 5px;
  }

  .room-header .subtext{
    color : #626364;
    margin-bottom : 36px;
    font-size : 0.77em;
  }
  .room-header .heading{
    font-size : 1.38em;
  }

  .all-products-link{
    color : #f74861;
    text-align:center;
    padding-top: 15px;
    margin-bottom : 0px;
    border-top: solid 1px gainsboro;
  }

  .colorlegend {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    margin-right: 14px;
  }

  .name {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    font-size: 13px;
  }

  @media(min-width: 500px) {
    .room-card{
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .room-card .title{
      padding-left: 15px;
      padding-right: 15px;
    }

    .room-card .card-carousel {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

</style>
