<template>
  <div>
    <b-list-group deck>
      <b-card v-for="item in items" no-body class="border-0 bg-transparent">
          <div class="media">
              <img v-if="item.image && items.length>1" class="img-fluid max-w-25 d-none d-sm-block pr-2" v-bind:src="item.image" alt="" onError="this.onerror=null;this.src='https://cdn.livmatrix.com//img/logos/ruby/livspace-square.png';">
              <img v-if="item.image && items.length===1" class="img-fluid max-w-65 d-none d-sm-block pr-2" v-bind:src="item.image" alt="" onError="this.onerror=null;this.src='https://cdn.livmatrix.com//img/logos/ruby/livspace-square.png';">
              <div class="media-body">
                <b-modal v-if="item.link" :id="'modal'+item.link.code+identifier" :hide-footer="hideFooter" header-class="border-bottom-0">
                  <item-modal :data="item.link"></item-modal>

                </b-modal>
                <div v-if="item.link" v-b-modal="'modal'+item.link.code+identifier">
                  <p class="mb-1">{{item.name}}</p>
                  <p class="brand-primary mb-1 fs-13">View Details</p>
                </div>
                <div v-if="item.children">
                  <p class="text-666 text-capitalize" :class="item.class">{{item.name}}</p>
                  <p class="brand-primary mb-1 fs-13">Expand Details</p>
                </div>
                <!-- "{'text-right text-sm-left': -->
                  <div v-if="!item.link && !item.children" class="text-666 text-capitalize" :class="item.class">{{item.name}}</div>
              </div>
          </div>
      </b-card>
      <!-- <b-card no-body class="text-center border-0"> -->
    </b-list-group>
  </div>
</template>

<script>
import ItemDetailModal from './ItemDetailModal.vue'

// items format
//   items:[
//     {
//     image: 'https://images.livmatrix.com/img/textures/salina-red.jpg',
//     name: 'Plywood',
//     link: metadata //this is used for popup
//   },
//   {
//   image: 'https://images.livmatrix.com/img/textures/shasta-brown.jpg',
//   name: '1 Drawer with Medium Soft Close Innotech',
//   link: null
// }
// ]

export default {
  name: 'TableElement',
  components: {
    'item-modal': ItemDetailModal
  },
  props: {
    items: {
      type: Array,
      required: true
    },
    identifier: {
      type: String,
      required: false
    }
  },
  data () {
    return {
      hideFooter: true,
      modal: 'modal'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
