<template>
  <div>
    <div v-if="data.heading && data.items.length>0" class="row sectional-heading">
      <div class="col">
        <h4 class="mt-4 mb-2">{{data.heading}}</h4>
      </div>
      <div v-if="data.total_price && data.items.length>0" class="col heading-price">
        <!-- <span v-b-toggle="'collapse'+ data.unique_name" class="mr-2 down-arrow text-right">
        </span> -->
        <h4 class="mt-4 mb-2 text-right">{{data.total_price}}</h4>
      </div>
    </div>
    <!-- <b-collapse :id="'collapse'+ data.unique_name"> -->
      <aside class="w-100 px-0 mx-auto sm:px-4" :class="{'light-bg': data.heading}">
        <div class="table-responsive">
          <b-table v-if="data.items.length>0" striped :fields="data.fields" :items="data.items" caption-top>
            <!-- <template v-if="data.heading" slot="table-caption">
              <div class="row sectional-heading">
              <div class="col">
              <h3 class="mt-4 pb-2 text-uppercase">{{data.heading}}</h3>
              </div>
              <div class="col heading-price">
              <h3 class="mt-4 pb-2 text-uppercase text-right">{{data.total_price}}</h3>
              </div>
              </div>
            </template> -->
            <template v-for="field in data.fields" :slot="field.key" slot-scope="data">
              <div :class="[field.class]">
                <span v-if="field.key=='index'">{{data.index + 1}}</span>
                <div v-if="field.key=='showDetails'">
                  <div size="sm" @click.stop="data.toggleDetails" class="mr-2" :class="{'down-arrow': !data.detailsShowing, 'up-arrow': data.detailsShowing}">
                 </div>
                </div>
                <table-element v-else :items="data.value"></table-element>
              </div>
            </template>
            <template slot="row-details" slot-scope="data">
              <aside class="w-100 px-2 table-responsive">
                <b-table striped :fields="data.item.children.fields" :items="data.item.children.items" caption-top>
                  <template v-for="field in data.item.children.fields" :slot="field.key" slot-scope="data">
                    <span v-if="field.key=='index'">{{data.item.children.index + 1}}</span>
                    <table-element v-else :items="data.value"></table-element>
                  </template>
                </b-table>
              </aside>
            </template>
          </b-table>
        </div>
      </aside>
    <!-- </b-collapse> -->
  </div>

</template>

<script>
import TableElement from './TableElement.vue'


export default {
  name: 'lstable',
  components: {
    'table-element': TableElement,
  },
  props: {
    data:{
      type:Object,
      required: true
    }
  },
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
